$cs-red: #CB3024;	// Main Primary color */
$cs-redLightest: #FF877D;
$cs-redLight: #E0564C;
$cs-redDark: #A41B11;
$cs-redDarkest: #7C0900;

$cs-blue: #1B6480;	// Main Secondary color (1) */
$cs-blueLightest: #538DA3;
$cs-blueLight: #33748D;
$cs-blueDark: #0E4E67;
$cs-blueDarkest: #03394E;

$cs-yell: #CB7B24;	// Main Secondary color (2) */
$cs-yellLightest: #FFC17D;
$cs-yellLight: #E0994C;
$cs-yellDark: #A45D11;
$cs-yellDarkest: #7C4000;

$cs-grn: #1C9C32;	// Main Complement color */
$cs-grnLightest: #61C572;
$cs-grnLight: #3AAB4E;
$cs-grnDark: #0D7D20;
$cs-grnDarkest: #005F10;
