body{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
}


.sesIDContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: black;
  color: white;
  display: none;
}

.loginBtn {
  width: 37.5%;
  height: 20%;
  top: 1.5vh;
  position: relative;
}

.joinBtn {
  width: 37.5%;
  height: 20%;
  top: 1.5vh;
  position: relative;
}

#loginNameInput {
  width: 80%;
}

#loginSesIDInput {
  width: 80%;
}

.loginScreen {
  position: absolute;
  top: 15vh;
  left: 45vw;
  width: 10vw;
  height: 30vh;
  background: white;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  z-index: 999;
  text-align: center;
}

.loginTop {
  background-color: #6C999F;
  height: 50%;
}

.loginBot {
  background-color: #2D843C;
  height: 50%;
}
.content1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #6C999F;
    margin: 0;
    vertical-align: top;
}

.sessionDash {
  font-size: 22px;
  display: block;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 10vh;
  text-align: center;
  background-color: #2D843C;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.dashItem{
  display: inline-block;
  user-select: none;
  float: left;
  position: relative;
  width: 24%;
  height: 98%;
}

#sessionID {
  user-select: text;
}

.content2{
    text-align: center;
    font-size: 5vw;
    height: 20vh;
    width: 31vw;
    display: inline-block;
    margin: 1vw;
    background-color: #AC433B;
    padding: 5vh 0em 0em 0em;
    vertical-align: top;
    border-radius: 1vw;
    box-shadow: 0px 0px 20px #222;
}

.content2:hover{
  cursor: pointer;
}

ul{
  padding: 0;
  margin: 0;
}

.winPopup{
    top: 41vh;
    font-size: 20;
    position: absolute;
    color: black;
    background-color: #2D843C;
    text-align: center;
    z-index: 9999;
    height: 10em;
    width: 100vw;
    border: solid;
    border-width: -2px;
    border-color: black;
}
